<header class="header">
  <img src="assets/images/logo6re.png" id="logo" alt="" />

  <nav class="navbar" id="navbar">
    <a href="health.component.html">home</a>
    <a href="#div4">about</a>
    <a href="#div3">services</a>
    <a href="#div2">gallery</a>
    <a href="#div1">contact</a>
  </nav>

  <div class="icons">
    <div id="menubar" (click)="MenuBar()" class="fa fas fa-bars"></div>
    <a href="#rj">contact</a>
  </div>
</header>

<div
  class="background-image"
  style="background-image: url(assets/images/doctor-g024485840_1920.jpg)"
>
  <div class="background-content">
    <h1>
      Good Health Is The <br />
      Root Of All Happiness
    </h1>
    <p>
      Welcome,where exceptional patient experiences are our priarity<br />with
      compassionate care,state-of-the-art facilities,and a patient-centered
      approach,<br />
      we're dedicated to your well-being.Trust us with your health and
      experience the difference.
    </p>
    <a href="#read">Read more</a>
  </div>
</div>

<div class="about" id="div4">
  <div class="main-about" id="read">
    <div class="inner-about">
      <div class="about-content">
        <h1>about us</h1>
        <p>
          Welcome to our healthcare website, your one-stop destination for
          reliable and comprehensive health care information We are committed to
          promoting wellness and providing valuable resources to empower you on
          your health journey.<br />

          Explore our extensive collection of expertly written articles and
          guides covering a wide range of health topic from understanding common
          medical conditions to tips for maintaining a healthy lifestyle, our
          content is designed to educate inspire, and support you in making
          informed choices for your health.<br />
        </p>
        <a href="#next">Next</a>
      </div>
    </div>
    <div class="inner-about">
      <div class="inner-about-image">
        <img src="assets/images/pexels-anthony-shkraba-6749770.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="our-services" id="div3">
  <div class="service-content" id="next">
    <div class="left-service-content">
      <h1>Our special services</h1>
      <p>
        Beyond simply providing medical care, our commitment lies in delivering
        unparalleled service tailored to your unique needs.
      </p>
    </div>

    <div class="right-service-content">
      <div class="right-btn">
        <a href="#service">See all services</a>
      </div>
    </div>
  </div>

  <div class="main-services" id="service">
    <div class="inner-services-content">
      <div class="service-icon">
        <img
          src="assets/images/lab2.avif"
          id=" "
          alt=""
          style="height: 200px; width: 200px"
        />
      </div>
      <h2>Laboratory lest</h2>
      <p>
        Accurate Diagnostics, Swift Results: <br />
        Experience top-notch Laboratory<br />
        Testing at our facility.
      </p>
    </div>

    <div class="inner-services-content">
      <div class="service-icon">
        <img
          src="assets/images/7b35be51d5a5628eea7c3f6fca497cd3.jpg"
          id=" "
          alt=""
          style="height: 200px; width: 200px"
        />
      </div>
      <h2>Health Check</h2>
      <p>
        Our thorough assessments and <br />
        expert evaluations help you stay<br />
        proactive about your health.
      </p>
    </div>

    <div class="inner-services-content">
      <div class="service-icon">
        <img
          src="assets\images\dental7.png"
          id=" "
          alt=""
          style="height: 200px; width: 200px"
        />
      </div>
      <h2>General Dentistry</h2>
      <p>
        Experience comprehensive oral care <br />
        with Dentistry. Trust us to keep your <br />
        smile healthy and bright.
      </p>
    </div>
  </div>
</div>

<div class="gallery" id="div2">
  <h1>Gallery</h1>
  <div class="main-gallery">
    <div class="inner-gallery">
      <img src="images/gal1.jpg" alt="" />
      <img src="assets/images/gal3.jpg" alt="" />
    </div>

    <div class="inner-gallery">
      <img src="images/gal2.jpg" alt="" />
      <img src="assets/images\gal5.jpg" alt="" />
    </div>

    <div class="inner-gallery">
      <img src="images/gal3.jpg" alt="" />
      <img src="assets/images/gal2.jpg" alt="" />
    </div>

    <div class="inner-gallery">
      <img src="images/gal4.jpg" alt="" />
      <img src="assets/images/gal1.jpg" alt="" />
    </div>

    <div class="inner-gallery">
      <img src="images/gal5.jpg" alt="" />
      <img src="assets/images/gal6.jpg" alt="" />
    </div>

    <div class="inner-gallery">
      <img src="images/gal6.jpg" alt="" />
      <img src="assets/images/gal4.jpg" alt="" />
    </div>
  </div>
</div>

<div class="why-choseus">
  <div class="main-chose">
    <div class="inner-chose">
      <img
        src="assets/images/young-positive-woman-doctor-with-stethoscope-showing-thumb-up.jpg"
        alt=""
      />
    </div>

    <div class="inner-chose">
      <h1>why chose us</h1>

      <div class="inner-chose-content">
        <div class="main-inner-chose">
          <div class="chose-icon"></div>
          <div class="icon-content">
            <p>
              With a steadfast commitment to your well-being, our team of highly
              trained healthcare professionals ensures that you receive nothing
              short of exceptional patient experiences.
            </p>
          </div>
        </div>

        <div class="main-inner-chose">
          <div class="chose-icon">
            <img
              src="assets/images/carere.png"
              id=" "
              alt=""
              style="height: 50px; width: 50px"
            />
          </div>
          <div class="icon-content">
            <h2>Intensive Care</h2>
            <p>
              Our Intensive Care Unit is equipped with advanced<br />
              technology and staffed by team of professionals.
            </p>
          </div>
        </div>

        <div class="main-inner-chose">
          <div class="chose-icon">
            <img
              src="assets/images/ambure.png"
              id=" "
              alt=""
              style="height: 50px; width: 50px"
            />
          </div>
          <div class="icon-content">
            <h2>Free Ambulance Car</h2>
            <p>
              A compassionate initiative to prioritize your health and,<br />well-being
              without any financial burden.
            </p>
          </div>
        </div>

        <div class="main-inner-chose">
          <div class="chose-icon">
            <img
              src="assets\images\sergicalre.png"
              id=" "
              alt=""
              style="height: 50px; width: 50px"
            />
          </div>
          <div class="icon-content">
            <h2>Medical and Surgical</h2>
            <p>
              Our Medical and Surgical services offer advanced<br />
              healthcare solutions to address madical needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="our-doctors">
  <h1>Our special doctors</h1>
  <h3>
    We take pride in our exceptional team of doctors,each a specialist in their
    respective fields.
  </h3>
  <br />

  <div class="main-doctor">
    <div class="inner-doctor">
      <img src="assets\images\chiness.jpg" alt="" />

      <div class="doc-icons">
        <div class="fa fab fa-facebook"></div>
        <div class="fa fab fa-twitter"></div>
        <div class="fa fab fa-instagram"></div>
        <div class="fa fab fa-linkedin"></div>
      </div>
    </div>

    <div class="inner-doctor">
      <img src="assets/images/pexels-gustavo-fring-4173239.jpg" alt="" />
      <div class="doc-icons">
        <div class="fa fab fa-facebook"></div>
        <div class="fa fab fa-twitter"></div>
        <div class="fa fab fa-instagram"></div>
        <div class="fa fab fa-linkedin"></div>
      </div>
    </div>

    <div class="inner-doctor">
      <img src="assets/images/woman-g74703c8d1_1920.jpg" alt="" />
      <div class="doc-icons">
        <div class="fa fab fa-facebook"></div>
        <div class="fa fab fa-twitter"></div>
        <div class="fa fab fa-instagram"></div>
        <div class="fa fab fa-linkedin"></div>
      </div>
    </div>
  </div>
</div>

<div class="footer" id="rj">
  <div class="main-footer">
    <div class="inner-footer">
      <img src="assets/images/logo1.png" alt="" />
      <h3></h3>
    </div>

    <div class="inner-footer">
      <h2 style="color: green">About Us</h2>
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Work With Us</a>
      <a href="#">Our Blog</a>
      <a href="#">Terms & Conditions</a>
    </div>

    <div class="inner-footer">
      <h2 style="color: green">Services</h2>
      <a href="#">Search Terms</a>
      <a href="#">Advance Search</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Suppliers</a>
      <a href="#">Our Stores</a>
    </div>

    <div class="inner-footer" id="div1" style="margin-bottom: 44px">
      <h2 style="color: green">Contact Us</h2>
      <a href="#">123,Pune Bridge Street,Pune</a>
      <a href="#">support@care.com</a>
      <a href="#">(+015)8562 456</a>
    </div>
  </div>
</div>
